<head></head>


<body>
<form name ="repvid" id="form1" method="post">
Répertoire vidéo : <input type="text" id="repvideo" size="20"><br/>
Répertoire photo : <input type="text" id="repphoto" size="20"><br/>    
Mot de passe GOPRO : <input type="text" id="mdpgopro" size="20"><br/>
    
    </form>







</body>